In [ ]:
# variable assignment
x = 5
print('x = ' + str(x)) # string concatenation within prin

x = 5

In [ ]:
x = 'lala'
y = 'lolo'
z = x + y # '+' is concatenation of strings
print(z)

lalalolo

In [ ]:
x = 5
# y = 7
y = x

id_x = id(x)
id_y = id(y)
print('id of x is: ' + str(id_x))
print('id of y is: ' + str(id_y))


x = 9 # assignment, new "variable", with new id

id_x = id(x)
id_y = id(y)
print('id of x is: ' + str(id_x))
print('id of y is: ' + str(id_y))

id of x is: 94266417494656
id of y is: 94266417494656
id of x is: 94266417494784
id of y is: 94266417494656

In [ ]:
x = 5
print('id of x is: ' + str( id(x) ) )
x += 1 # is like x = x + 1
print('id of x is: ' + str( id(x) ) )
x -= 1
print('id of x is: ' + str( id(x) ) )

id of x is: 94266417494656
id of x is: 94266417494688
id of x is: 94266417494656

In [ ]:
x = [1,2,3]
y = [4,5,6]

id_x = id(x)
id_y = id(y)
print('id of x is: ' + str(id_x))
print('id of y is: ' + str(id_y))

id of x is: 140422573337248
id of y is: 140422504639456

In [ ]:
x = [1,2,3]

y = x

x[1] = 5

id_x = id(x)
id_y = id(y)
print('id of x is: ' + str(id_x))
print('id of y is: ' + str(id_y))

print('value of x is: ' + str(x))
print('value of y is: ' + str(y))

id of x is: 140422504641792
id of y is: 140422504641792
value of x is: [1, 5, 3]
value of y is: [1, 5, 3]

In [ ]:
# dictionary with my personal information
m = {
    'name': 'Maximos',
    'surname': '2hard2pronounce',
    'height': 1.69,
    'flights_this_month': ['11_Oct', '18_Oct']
}

print('m = ', m)
print(m['name'])
print(m['flights_this_month'][0])

# we can get all keys of the dictionary
k = list( m.keys() )
print(k)
# and values
v = list( m.values() )
print(v)
# access key by index
print( m[ k[1] ] )
# equivalent to:
print( m[ 'surname' ] )

m =  {'name': 'Maximos', 'surname': '2hard2pronounce', 'height': 1.69, 'flights_this_month': ['11_Oct', '18_Oct']}
Maximos
11_Oct
['name', 'surname', 'height', 'flights_this_month']
['Maximos', '2hard2pronounce', 1.69, ['11_Oct', '18_Oct']]
2hard2pronounce
2hard2pronounce

In [ ]:
# dictionary with my personal information
m = {
    'name': 'Maximos',
    'surname': '2hard2pronounce',
    'height': 1.69,
    'flights_this_month': ['11_Oct', '18_Oct']
}

n = m

# n = {
#     'name': 'Maximos',
#     'surname': '2hard2pronounce',
#     'height': 1.69,
#     'flights_this_month': ['11_Oct', '18_Oct']
# }

print('id of m is: ' + str(id(m)))
print('id of n is: ' + str(id(n)))

# n['height'] = 1.56

print('m: ' + repr(m))
print('n: ' + repr(n))

id of m is: 140422504284240
id of n is: 140422504284240
m: {'name': 'Maximos', 'surname': '2hard2pronounce', 'height': 1.69, 'flights_this_month': ['11_Oct', '18_Oct']}
n: {'name': 'Maximos', 'surname': '2hard2pronounce', 'height': 1.69, 'flights_this_month': ['11_Oct', '18_Oct']}

In [ ]:
# function examples
def count_how_many_letters( string, character ):
    # returns how many occurences of "character" there are in "string"
    # e.g.
    # count_how_many_letters( 'lala', 'a' ) should return 2
    # comment: within a python function, code has the same indentation
    # function name can be anything
    counter = 0
    for c in string:
        if c == character:
            counter += 1
    return counter
# the function does not run within this block, it's just defined

In [ ]:
# functions that *return* somethin are called as
# y = function(x1, x2, ...)
# to run the function, we need to call it
z = count_how_many_letters('test_pattern','t')
print(z)

1

In [ ]:
# application of for loop in strings
s = 'lalala'
print( len(s) )
for letter in s:
    print(letter)

6
l
a
l
a
l
a

In [ ]:
# '=' vs '=='
x = 5 # assignment: x represents the value 5
print(x)

print( x == 5 ) # comparing 6 with 5: True or False value

5
True