In [ ]:
# revision
# sets
s1 = {1,2,3,2,3,2,1,2,3,2,1}
s2 = {3,2,1,2}

print('s1: ', s1)
print('s2: ', s2)
print('s1 == s2: ', s1 == s2)

s1:  {1, 2, 3}
s2:  {1, 2, 3}
s1 == s2:  True

3

In [ ]:
# list
s1 = [1,2,3,2]
s2 = [3,2,1,2]

print('s1: ', s1)
print('s2: ', s2)
print('s1 == s2: ', s1 == s2)

# retrieving value by index
x = s1[2]
print('x: ', x)

t = '1.69'
s = '1.31'
print('t + s: ', t + s)

s1:  [1, 2, 3, 2]
s2:  [3, 2, 1, 2]
s1 == s2:  False
x:  3
t + s:  1.691.31

In [ ]:
# dictionaries
d = {
    'name'      : 'Max',
    'height'    : 1.69,
    'fav_foods' : ['makaronia', 'revithia', 'pitogyra']
}

print('d: ', d)
# n = d[0] # ERROR: KeyError: 0 - doesn't know any key '0'
n = d['name']
print('n: ', n)

f = d['fav_foods']
print(f[2])

f = d['fav_foods'][2]
print(f)

d:  {'name': 'Max', 'height': 1.69, 'fav_foods': ['makaronia', 'revithia', 'pitogyra']}
n:  Max
pitogyra
pitogyra

In [ ]:
# deleting and creating new dictionary key-value pairs
d = {
    'name'      : 'Max',
    'height'    : 1.69,
    'fav_foods' : ['makaronia', 'revithia', 'pitogyra']
}

# delete ditionary element with key 'height'
del d['height']
print('d: ', d)

# add new entry
d['weight'] = 60
print('d: ', d)

# get keys and values separately
print( d.keys() )
print( d.values() )

d:  {'name': 'Max', 'fav_foods': ['makaronia', 'revithia', 'pitogyra']}
d:  {'name': 'Max', 'fav_foods': ['makaronia', 'revithia', 'pitogyra'], 'weight': 60}
dict_keys(['name', 'fav_foods', 'weight'])
dict_values(['Max', ['makaronia', 'revithia', 'pitogyra'], 60])

In [ ]:
# shallow vs deep copy
d = {
    'name'      : 'Max',
    'height'    : 1.69,
    'fav_foods' : ['makaronia', 'revithia', 'pitogyra']
}

# shallow copy
g = d
# g = {
#     'name'      : 'Max',
#     'height'    : 1.69,
#     'fav_foods' : ['makaronia', 'revithia', 'pitogyra']
# }

print( id( d ) )
print( id( g ) )

g['name'] = 'Evita' # does not change its id, still equal to d
print( id( d ) )
print( id( g ) )


print('d: ', d)

140300499730992
140300499732592
140300499730992
140300499732592
d:  {'name': 'Max', 'height': 1.69, 'fav_foods': ['makaronia', 'revithia', 'pitogyra']}

In [ ]:
import copy

d = {
    'name'      : 'Max',
    'height'    : 1.69,
    'fav_foods' : ['makaronia', 'revithia', 'pitogyra']
}

# shallow copy
# g = d
# do deep copy instead
g = copy.deepcopy(d)

print( id( d ) )
print( id( g ) )

g['name'] = 'Evita' # does not change its id, still equal to d
print( id( d ) )
print( id( g ) )

print('d: ', d)

140300568197632
140300499157792
140300568197632
140300499157792
d:  {'name': 'Max', 'height': 1.69, 'fav_foods': ['makaronia', 'revithia', 'pitogyra']}

In [ ]:
# functions
def print_stuff():
    print('This is what the function prints')
    print('and it\'s awesome!')
    print("and it's awesome!")

In [ ]:
print('before function call')
print_stuff()
print('after function call')

before function call
This is what the function prints
and it's awesome!
and it's awesome!
after function call

In [ ]:
def print_stuff2( s ):
    print( 'this is what the function prints: ' + str(s) )

In [ ]:
print('before function call')
print_stuff2( {'name': 'max', 'height': 1.69} )
print('after function call')

before function call
this is what the function prints: {'name': 'max', 'height': 1.69}
after function call

In [ ]:
# positional arguments
def concatenate_and_print( s1, s2 ):
    print( s1 + ' - ' + s2 )
    print( s1 , ' - ' , s2 )

In [ ]:
print('before function call')
concatenate_and_print( 'lala' , 'lolo' )
print('after function call')

before function call
lala - lolo
lala  -  lolo
after function call

In [ ]:
# keyword argument
def concatenate_and_print2( s1='xixi', s2='xoxo' ):
    print( s1 + ' - ' + s2 )
    print( s1 , ' - ' , s2 )

In [ ]:
print('before function call')
# error:
# concatenate_and_print2( s2='lala', 'mama' )
# error:
# concatenate_and_print2( 'lala', s1='mama' )
# correct:
# concatenate_and_print2(  )
# correct:
# concatenate_and_print2( 'lala' ) # assumes s1 as positional
# correct:
# concatenate_and_print2( s2='lala' ) # s1 gets the default value
# correct:
concatenate_and_print2( s2='lala', s1='lolo' )
print('after function call')

before function call
xixi - lala
xixi  -  lala
after function call

In [ ]:
# functions that return variables
def concatenate_and_return( s1='xixi', s2='xoxo' ):
    s = s1 + ' - ' + s2
    return s, s1, s2

In [ ]:
print('before')
_, y, _ = concatenate_and_return()
print(y)
print('after')

before
xixi
after

In [ ]:
# concatenate_and_return in lambda fashion
# lambda arguments : expression
concatenate_and_return = lambda s1='xixi', s2='xoxo' : s1 + ' - ' + s2
print( concatenate_and_return( s2='lala' ) )

xixi - lala